 @media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
 }


 @media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .icon-arrow-profile, 
    .icon-arrow-about,
    .icon-arrow-skills,
    .icon-arrow-projects,
    .icon-arrow-contact {
        display: none;
    }
    
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
 }

 @media screen and (max-width: 600px) {
    .icon-arrow-profile, 
    .icon-arrow-about,
    .icon-arrow-skills,
    .icon-arrow-projects,
    .icon-arrow-contact {
        display: none;
    }
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .about-details-container {
        width: 100%; /* Ensure the container takes full width */
    }
    .article-skills-container {
        max-width: 100%; /* Ensure the content doesn't overflow */
    }
    .article-skills-container article {
        font-size: 0.8rem; /* Adjust font size */
        text-align: center; /* Center-align the text */
    }
    .skills-sub-title {
        text-align: center; /* Center-align the title */
        font-size: 1rem; /* Adjust font size */
    }
    
    .about-containers, 
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 1;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
 }
